# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Env files #
#############
.env

# Files #
#########
app/blobteste.py
app/ondrive.py
app/armazem.py
app/teste.py

# Folders #
###########
venv/
app/__pycache__/